.random-beverages {
  height: 1300px;
}

.random-beverages .random-beverages-wrapper {
  left: 2.5%;
  top: -60px;
  width: 95%;
  height: 1400px;
  padding: 100px 0 0;
  background-image: url('../../../../public/images/views/home/randomBeverages/Bg.png');
}

.random-beverages .random-beverages-wrapper .banner-container {
  width: 80%;
}

.random-beverages .random-beverages-wrapper .random-beverages-segment {
  width: 90%;
}

.random-beverages
  .random-beverages-wrapper
  .random-beverages-segment
  .random-beverages-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 10px;
}

.error-msg-container {
  margin-top: 250px;
  color: #ff6969;
}

.error-msg-container .reload-btn {
  width: max-content;
}
