.beverages-segment {
  padding: 100px 50px;
}

.beverages-segment .beverages-container {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  gap: 10px;
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}
