.beverage-card {
  cursor: pointer;
}

.beverage-card .img-box {
  height: 170px;
  text-align: center;
}

.beverage-card .img-box img {
  height: 100%;
}

.beverage-card .card-title {
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.beverage-card .card-text {
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
