.footer {
  grid-template-rows: 365px 140px;
}

.footer .info-segment {
  padding: 35px 0px;
}

.footer .info-segment .footer-col {
  color: #d0b27d;
  margin: 60px 0 20px;
  grid-template-rows: min-content min-content;
}

.footer .info-segment .footer-col .col-heading {
  color: #d0b27d;
  margin: 60px 0 20px;
}

.footer .info-segment .footer-col .list-item {
  margin: 0 0 10px;
  font-weight: 300;
  opacity: 0.9;
  font-size: 14px;
}

.footer .info-segment .footer-col .list-item:hover {
  color: #ae8e3f !important;
}

.footer .copyright-segment {
  padding: 30px 0px;
  font-size: 14px;
}
