/* devanagari */

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Bitter-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Bitter-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/Bitter-Bold.ttf') format('ttf');
}

* {
  font-family: Bitter;
}

.cursor-pointer {
  cursor: pointer;
}

.color-gold {
  color: #d0b27d;
}

.bg-color-gold {
  background-color: #d0b27d;
}
